<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/img/favicon.gif">

    <title>Shamus Restaurant - Lockport, NY - Fine Dining</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery UI CSS -->
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.theme.min.css" rel="stylesheet">
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
    <!-- <link href="/static/jquery-slideshow-plugin/assets/jQuery-slideshow-plugin/plugin.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
  </head>

  <body>
  {% load restaurant_tags %}
    <div class="navbar bg-white" role="navigation">
      <div class="container ">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{% url 'home' %}"><img src="/static/img/shamus_simple_logo.svg"/></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% if active == 'home' %}class="active"{% endif %}><a href="{% url 'home' %}">HOME</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="menus" data-toggle="dropdown" role="button">MENU<b class="caret"></b>
                <ul class="dropdown-menu" role="menu">
                  {% menu_types as menus %}
                  {% for menu in menus %}
                  <li><a href="{% url 'view_menu' menu.name %}">{{menu.name}}</a></li>
                  {% endfor %}
                </ul>
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">SERVICES<b class="caret"></b>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/catering/">Catering</a></li>
                  <li><a href="/private-dining/">Private Dining</a></li>
                  <li><a href="/merchandise/">Merchandise</a></li>
                </ul>
              </a>
            </li>
            <li><a href="/gift-certificates/">GIFT CARDS</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">ABOUT<b class="caret"></b>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/about-us/">About Us</a></li>
                  <li><a href="/meet-the-staff">Meet the Staff</a></li>
                  <li><a href="/hours/">Hours & Directions</a></li>
                  <li><a href="/contact-us/">Contact Us</a></li>
                </ul>
              </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block content %}

    {% endblock %}

  </body>

    <!-- Footer  -->
    <footer>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-1">
          &copy; 2015 Shamus Restaurant
          <br>
          98 West Ave, Lockport, NY 14094.
        </div>
        <div class="col-xs-2">
          716.433.9809
        </div>
        <div class="col-xs-3">
          <a class="pull-right" href="mailto:info@shamuslockport.com">info@shamuslockport.com</a>
          <br>
          <a class="pull-right" href="#">Back to top</a>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xs-6 col-xs-offset-1">
          
        </div>

        <div class="col-xs-3">
          
        </div>
      </div> -->
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.confirm.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <!-- <script src="/static/jquery-slideshow-plugin/assets/jQuery-slideshow-plugin/plugin.js"></script> -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Custom JavaScript
    ================================================== -->
    <script src="/static/js/custom.js"></script>

</html>
