{% extends 'base.html' %}

{% block content %}

<p><em>Looking for a tasteful gift?</em></p>

<p>The Shamus Restaurant is pleased to offer our customers the opportunity to purchase gift certificates online!</p>

<p>If you prefer to purchase gift certificates by telephone, or if you would like to purchase other dollar denominations than those listed below, please call us at 716.433.9809.</p>

<br><br><br>

<div style="text-align:center;">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="96K32MUC4ZCWY">
<table style="width:100%;">
<tr><td><input type="hidden" name="on0" value="Gift Certificate Amount">Gift Certificate Amount</td></tr><tr><td><select name="os0">
        <option value="+">$100.00 USD</option>
        <option value="+">$75.00 USD</option>
        <option value="+">$50.00 USD</option>
        <option value="+">$25.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>

<br><br><br>

<p><em>Please <a href="/contact-us/">let us know</a> about your online shopping experience. We'd like to know how we can improve our offerings and services.</em></p>

{% endblock %}
