/* Color Scheme */
.grey  { color:#58595B;}
.white { color:#FFFFFF;}
.brown { color:#68471A;}
.green { color:#8DC63F;}       

.bg-grey  { background-color:#58595B;}
.bg-white { background-color:#FFFFFF;}
.bg-brown { background-color:#68471A;}
.bg-green { background-color:#8DC63F;}

a {
    color: #8DC63F;
}
a:hover, a:focus {
  text-decoration: none;
}
/* Fonts */
@font-face {
  font-family: title;
  src: url('/static/fonts/CaviarDreams.ttf');
}

@font-face {
  font-family: scripty;
  src: url('/static/fonts/CaviarDreams.ttf');
  /*src: url('/static/fonts/Plumeria.ttf');*/
  /*src: url('/static/fonts/apple_garamond/AppleGaramond-LightItalic.ttf');*/
  /*src: url('/static/fonts/derivia/Derivia.TTF');*/
  /*src: url('/static/fonts/Oranianbauma.ttf');*/

}

@font-face {
  font-family: option;
  /*src: url('/static/fonts/CaviarDreams.ttf');*/
  /*src: url('/static/fonts/Plumeria.ttf');*/
  src: url('/static/fonts/apple_garamond/AppleGaramond-LightItalic.ttf');
  /*src: url('/static/fonts/derivia/Derivia.TTF');*/
  /*src: url('/static/fonts/Oranianbauma.ttf');*/

}

body {
    font-family: scripty;/*"Monotype Corsiva";*/
    font-size: 20px;   
}

html, body { 
  height:100%;
}
.site-wrapper {
  display: table;
  width:100%;
  height: 100%;
  min-height: 100%;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

h1, h2, h3, h4, h5, h6 {
    font-family: title;
}

.container-fluid {
  min-height: 68%;
}
/* Navigation Bar */
.navbar { border-width: 0px;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          font-family: title;
          margin-bottom: 0px;
      }

div.navbar-header > * > img { height: 100px;
                              float: left;
                              margin-right: 53px;
                              vertical-align: middle;
                              }

.navbar-nav > li > a {  color:#58595B;
                        background-color: #FFFFFF;
                        -webkit-transition: color, background-color 1s; /* Safari */
                        transition: color, background-color 1s;
                        line-height:75px;
                        font-size: 24px;
                        }

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus { color:#FFFFFF;
                        background-color:#58595B;
                        -webkit-transition: color, background-color 1s; /* Safari */
                        transition: color, background-color 1s;
                       }

.navbar-nav .open>a, .navbar-nav .open>a:focus {
    color:#58595B;
    background-color: #FFFFFF;
}
/*
.navbar-nav .open>a:hover {
    background-color: #58595B;
}
.navbar-nav>li>a:focus {
    background-color: #FFFFFF;
    color:#58595B;
}*/

.dropdown-menu {
    min-width: 100%;
    border-top-color: #FFFFFF;
}
/*.open>.dropdown-menu {
    -webkit-transition: display 1s;
    transition: display 1s;
}*/

/* Collapsed Nav Bar changes */
.navbar-collapse {
    text-align:center;
}

.navbar-toggle {
    border-color:#58595B;
    margin-top:25px;
    padding: 17px 15px;
    -webkit-transition: border-color 1s; /* Safari */
    transition: border-color 1s;
}
.navbar-toggle .icon-bar {
  background-color: #58595B;
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 1px;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
}

.navbar-toggle:hover {
    border-color:transparent;
    background-color: #58595B;
    -webkit-transition: border-color, background-color 1s; /* Safari */
    transition: border-color, background-color 1s;
}
.navbar-toggle:hover>span {
  background-color: #FFFFFF;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
}

@media (min-width: 991px) {
    div.navbar-header > * > img { 
        margin-left: 10px;
    } 
}
@media (max-width: 991px) {
    .navbar-nav > li > a { 
      line-height:35px;
      font-size: 18px;
                          }
}
@media (max-width: 991px) {
    .navbar-nav .open .dropdown-menu>li>a {
      color: #FFFFFF;
      background-color: #58595B;
      line-height: 15px;
      text-align: center;
    }
    .navbar-nav .open .dropdown-menu>li>a:hover {
      background-color:rgba(88, 89, 91, 0.80);
      -webkit-transition: background-color .5s; /* Safari */
      transition: background-color .5s;
    }
}

/* Menu CSS */
.menu-container {
    color:#58595B;
    background-color: #fff;
    width: 80%;
    box-shadow: 10px 0px 20px #333;
    margin-top:20px;
}

hr.menu-hr {
  border: 3px;
  /*green*/
  /*border-top: 2px solid #8DC63F; */
  /*brown*/
  border-top: 2px solid #68471A; 
  /*grey*/
  /*border-top: 2px solid #58595B; */
}

table.menu-table {
    width:100%;
    margin-bottom: 50px;
}

tr.menu-item {
  font-size: 18px;
}

tr.menu-option {
  color:#68471A;
  /*color: #8DC63F;*/
  font-family: option;
  font-size: 14px;

}

.menu-price {
  font-size: 16px;
  font-family: scripty;
  white-space: nowrap;
}

tr.menu-item>td {
  padding: 5px 15px 5px 40px;
}

tr.menu-item>td.menu-price, tr.menu-option>td.menu-price {
  padding: 5px 40px 5px 15px;
}

tr.menu-option>td {
  padding-left: 70px;
}

.category-description {
  font-family: option;
  text-align: center;
}

div#top-link {
  position: fixed;
  bottom: 20px;
  right: 15%;
  z-index: 1;
  /*width: 100%;*/
}

/* Base Body */
body { background-color:#58595B;
       color: #FFFFFF;
     }

/* Menu Categories tabs pill */
.nav-pills>li>a {
  height: 100px;
  line-height: 75px;
  text-align: center;
}

span.menu-shortcut {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

@media (max-width: 992px) {
  .nav-pills>li>a {
    height: auto;
    line-height:0px;
  }
}

/* Home page image slider */
a.carousel-control {
  -webkit-transition:.5s; /* Safari */
  transition:.5s;
}

/* Home page blurbs */
.blurb-comment {
  color:#8DC63F;
}

/* Footer */
footer {
  position: relative;
  left: 0;
  bottom: 0; 
  margin-top:20px;
  margin-bottom:0px;
  padding:20px 0px 20px 0px;
  background-color: #fff;
  color:#58595B;
  min-height:100px;
  line-height:60px;
  width:100%;
  z-index:2000;
}

footer>div.row {
  margin:0px;
}
